version: 2.1
jobs:
  test:
    docker:
    - image: circleci/golang:1.11.1
    working_directory: /go/src/github.com/joshdk/hub-comment
    steps:
    - checkout
    - run:
        name: Install dependencies
        working_directory: /tmp
        command: |
          go get golang.org/x/tools/cmd/goimports
    - run:
        name: Run tests
        command: |
          gofiles="$(find . -name '*.go' | grep -v /vendor/)"
          test -z "$(gofmt -l -s  $gofiles)"
          test -z "$(goimports -l $gofiles)"
          go test -race -v ./...

  build:
    docker:
    - image: circleci/golang:1.11.1
    working_directory: /go/src/github.com/joshdk/hub-comment
    steps:
    - checkout
    - run:
        name: Install dependencies
        working_directory: /tmp
        command: |
          sudo env GOOS=darwin GOARCH=amd64 $(which go) install std
          wget https://github.com/upx/upx/releases/download/v3.94/upx-3.94-amd64_linux.tar.xz
          tar --strip=1 -xf upx-3.94-amd64_linux.tar.xz
          sudo install upx /usr/bin
    - run:
        name: Build artifacts
        command: |
          version="$(git describe --tags)"
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -a \
            -ldflags="-s -w -X main.version=$version" \
            -o artifacts/hub-comment_linux_amd64 .
          CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -a \
            -ldflags="-s -w -X main.version=$version" \
            -o artifacts/hub-comment_darwin_amd64 .
    - run:
        name: Compress artifacts
        working_directory: artifacts
        command: upx --best --ultra-brute *
    - run:
        name: Checksum artifacts
        working_directory: artifacts
        command: sha256sum --binary --tag * | tee checksums.txt
    - store_artifacts:
        path: artifacts
        destination: /artifacts
    - persist_to_workspace:
        root: .
        paths:
        - artifacts

  integration:
    docker:
    - image: cibuilds/github:0.12.0
    working_directory: /go/src/github.com/joshdk/hub-comment
    steps:
    - checkout
    - attach_workspace:
        at: .
    - run:
        name: Run integration tests
        working_directory: artifacts
        command: |
          export GITHUB_TOKEN="$GITHUB_COMMENT_TOKEN"
          ./hub-comment_linux_amd64 -version
          ./hub-comment_linux_amd64 -template 'Original comment posted from [build #{{.Env.CIRCLE_BUILD_NUM}}]({{.Env.CIRCLE_BUILD_URL}}) on CircleCI.'
          STATUS=ready ./hub-comment_linux_amd64 -template-file ../testdata/status.txt -type status
          ./hub-comment_linux_amd64 -template-file ../testdata/template.txt
          STATUS=done  ./hub-comment_linux_amd64 -template-file ../testdata/status.txt -type status

  release:
    docker:
    - image: cibuilds/github:0.12.0
    working_directory: /go/src/github.com/joshdk/hub-comment
    steps:
    - attach_workspace:
        at: .
    - run:
        name: Upload artifacts
        command: ghr -u joshdk -r hub-comment -replace ${CIRCLE_TAG} artifacts

workflows:
  version: 2
  build:
    jobs:
    - test
    - build
    - integration:
        requires:
        - build

  release:
    jobs:
    - build:
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /.*/
    - release:
        requires:
        - build
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /.*/
